<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueueName" value="sagademo_server"/>
    <add key="SubscriptionsTableName" value="Rebus_Subscriptions"/>
    <add key="SagaDataTableName" value="Rebus_SagaData"/>
    <add key="SagaIndexTableName" value="Rebus_SagaIndex"/>
    <add key="TimeoutsTableName" value="Rebus_Timeouts"/>
  </appSettings>
  <connectionStrings>
    <add name="RebusDatabase" connectionString="server=.; database=rebus_sagademo; trusted_connection=true"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>