<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Migr8" version="0.13.0" targetFramework="net45" />
  <package id="Rebus" version="3.0.1" targetFramework="net45" />
  <package id="Rebus.Castle.Windsor" version="3.0.0" targetFramework="net45" />
  <package id="Rebus.Msmq" version="3.0.0" targetFramework="net45" />
</packages>