<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus"/>
  </configSections>

  <rebus inputQueue="IntegrationSample.Client.input" errorQueue="IntegrationSample.Client.error" workers="1">
    <endpoints>
      <add messages="IntegrationSample.IntegrationService.Messages" endpoint="IntegrationSample.IntegrationService.input"/>
    </endpoints>
  </rebus>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
